body {
  font-family: "Roboto", "Raleway", sans-serif;
  color: #212121;
}

.nav-style {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}
.header-size {
  width: 1600px;
  height: 80px;
  position: absolute;
}
header {
  width: 1600px;
  height: 80px;
  left: 0px;
  top: 0px;
}

.link {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  color: #212121;
}
.link-item {
  text-decoration: none;
  color: #757575;
}
.link-item:focus,
.link-item:hover {
  color: rgba(33, 150, 243, 1);
}
.link:focus,
.link:hover {
  color: rgba(33, 150, 243, 1);
}

.title {
  background: #2f303a;
  color: #ffffff;
  height: 600px;
  width: 1600px;
  margin-top: 80px;
  text-align: center;
}

.title-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  width: 696px;
  height: 120px;
  margin-left: 452px;
  padding-top: 200px;
}

.button {
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.875;
  background-color: rgba(33, 150, 243, 1);
  color: rgba(255, 255, 255, 1);
  height: 50px;
  width: 200px;
  border-radius: 4px;
  font-weight: 700;
}

.title-text-item {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: #212121;
}

.text {
  font-size: 14px;
  line-height: 1.714;
  color: #757575;
}


.team {
  background: #f5f4fa;
  width: 1600px;
}
.title-secondary {
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: rgba(33, 33, 33, 1);
}

.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;
  color: rgba(33, 33, 33, 1);
  margin-top: 30px;
}
.position {
  color: rgba(117, 117, 117, 1);
  font-size: 16px;
  line-height: 1.187;
  margin-top: 10px;
  
}
.footer-size {
  width: 1600px;
  height: 252px;
  background: #2f303a;
}
.footer-style {
  position: absolute;
  padding-left: 215px;
  padding-top: 60px;
  text-decoration: none;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  color: #2196f3;
}
.logo-item {
  font-family: "Oleo Script", sans-serif;
  font-size: 26px;
  line-height: 1.192;
  color: #ffffff;
}

.logo-header {
  font-family: "Oleo Script", sans-serif;
  font-size: 26px;
  line-height: 1.38;
  color: black;
}

address {
  font-size: 14px;
  line-height: 1.724;
  color: #ffffff;
  padding-top: 20px;
  font-style: normal;
}
.contacts {
  font-size: 14px;
  line-height: 1.724;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
.contacts-portfolio {
  font-size: 14px;
  line-height: 1.724;
  color: rgba(255, 255, 255, 0.6);
}
.menu {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  padding-top: 100px;
}

.buttons:focus,
.buttons:hover {
  background-color: #2196f3;
  color: #ffffff;
  cursor: pointer;
}

.description {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  width: 322px;
  height: 36px;
  color: #212121;
}

.description-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.625;
  width: 322px;
  height: 30px;
  color: #757575;
}
